/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@font-face {
  font-family: mfont;
  src: url(festus.ttf);
}

@font-face {
  font-family: kfont;
  src: url(korean.ttf);
}

body {
  font-family: kfont;
  background: url(bg.jpg), repeat;
  margin: 5%;
}

#main {
  background-color: white;
  height: 100%;
  border: thick solid #555;
  border-radius: 20px;
  text-indent: 5px;
  min-height:768px;
}

#header {
  font-family: kfont;
  width:100px;
  height:75px;
  margin:0 auto;
  font-size:60px;
}

#info {
  text-align:center;
  margin:0 auto;
  font-size:20px;
  height:25px;
}

#form {
  margin:20px;
  min-height:610px;
  height:610px;
  form {
    margin: 0 auto;
    width: 100%;
    height:100%;
    textarea {
      float:left;
      width:48%;
      height:100%;
      display:table-cell;
      font-family: kfont;
      outline: none;
      resize: none;
      border: 3px solid black;
      border-radius: 10px;
      font-size:30px
    }

    textarea:disabled {
      background-color: white;
    }

    #hangul {
      float:left;
    }

    #english {
      float:right;
    }

    #arrow {
      position:relative;
      top: 305px;
      text-align: center;
      width: 4%;
      height:100%;
      float:left;
    }
  }
}

#footer {
  float:right;
  margin-right: 20px;
}
